@model List<LibraryManagementWebApp.Models.Book>

<h1>Books</h1>
<a href="/Books/Create">Add New Book</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>
                <td>@book.IsAvailable</td>
                <td>
                    <a href="/Books/Edit/@book.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
